fastapi>=0.111.0
fastapi>=0.111.0
uvicorn>=0.29.0
tortoise-orm>=1.1.7
pydantic>=2.7.1
pydantic-settings>=2.2.1
passlib>=1.7.4
pyjwt>=2.8.0
loguru>=0.7.2
email-validator>=2.1.1
setuptools>=69.5.1
argon2-cffi>=23.1.0
fastapi-cache2>=0.2.2
fastapi-guard>=5.0.0
redis>=4.6.0
orjson>=3.10.12
--extra-index-url https://pypi.tuna.tsinghua.edu.cn/simple/